.DS_Store
.env
storage/
__pycache__
.mypy_cache
*.swp
debug
.vscode/*
!.vscode/launch.json
config/*
!config/*.example
!config/*.example.yml
models
*.mp4
*.db
*.csv
frigate/version.py
web/build
web/node_modules
web/coverage
web/.env
core
!/web/**/*.ts
.idea/*
.ipynb_checkpoints
